---
import CtaBand from "../components/sections/CtaBand.astro";
import Hero from "../components/sections/Hero.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import ValueProposition from "../components/sections/ValueProposition.astro";
import { siteDescription, siteName } from "../config/site";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = siteName;
const description = siteDescription;
---

<BaseLayout title={title} description={description}>
  <main id="main-content">
    <Hero />
    <ValueProposition />
    <HowItWorks />
    <CtaBand />
  </main>
</BaseLayout>
